@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
}
a, a:hover, a:focus, a:visited{
    color: inherit;
    text-decoration: underline;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 22px;
}
h6{
    font-size: 18px;
}
sup{
    font-size: 12px;
}
/* Main Css */
section{
    padding: 50px 0;
}
.secbanner {
    background: rgb(173 223 237 / 30%);
}
.heading-wrapper.text-center {
    background: #00446b;
    padding: 10px 0;
    border-radius: 16px;
    box-shadow: 0px 2px 4px rgb(46 41 51 / 8%), 0px 5px 10px rgb(71 63 79 / 16%);
}
.heading-wrapper h4 {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
.title-head {
    background: #E6F5FA;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 2px 4px rgb(46 41 51 / 8%), 0px 5px 10px rgb(71 63 79 / 16%);
    width: 100%;
}
.title-head-text {
    font-weight: bold;
    color: #002b54;
    margin-bottom: 16px;
}

.point-showcase {
    border-left: 2px solid #00446b;
}
.point-showcase ul{
    padding-left: 15px;
}
.point-showcase ul > li{
    padding: 10px 0;
}
.title-head p {
    margin-bottom: 16px;
}
.title-head span{
    font-size: 14px;
}
.title-head-text > span {
    font-size: 50px;
}
.title {
    color: #002b54;
    font-weight: bold;
    border-left: 2px solid #002b54;
    padding: 10px 10px;
    margin: 40px 0px 10px;
}
.title.no-border{
    border: none;
    padding: 0;
}
p.image-text{
    font-size: 18px;
    margin: 40px 0;
    font-weight: 600;
}
p.image-italic-text {
    font-weight: normal;
    font-style: italic;
}
.card-box {
    background-color: #f4f4f4;
    padding: 20px;
    -webkit-box-shadow: 0px 2px 4px rgb(46 41 51 / 8%), 0px 5px 10px rgb(71 63 79 / 16%);
    box-shadow: 0px 2px 4px rgb(46 41 51 / 8%), 0px 5px 10px rgb(71 63 79 / 16%);
    margin-bottom: 24px;
    border-radius: 16px;
}
.list-show{
    padding-left: 20px;
}
.list-show > li {
    list-style: disc;
}
@media only screen and (max-width: 991.9px){
    .point-showcase {
        margin-top: 30px;
        border: none;
    }
    .point-showcase ul li{
        list-style: disc;
    }
    h3 {
        font-size: 26px;
    }
    .title-head-text > span {
        font-size: 34px;
    }
    .heading-wrapper.text-center{
        padding: 10px 30px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 575.9px){
    section{
        padding: 30px 0;
    }
}